@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .font-open-dyslexic {
    font-family: var(--font-open-dyslexic), sans-serif;
  }
  
  .font-comic-neue {
    font-family: var(--font-comic-neue), sans-serif;
  }
  
  .font-arial {
    font-family: Arial, sans-serif;
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
